<!DOCTYPE html>
<html lang="en" ng-app="libraryApp">
<head>
  <meta charset="UTF-8">
  <title>Library Application</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-controller="LibraryController">
    <h1>Library Categories</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Category</th>
          <th>Book Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in library">
          <td>{{ category.name }}</td>
          <td>{{ category.count }}</td>
          <td>
            <button ng-click="editCategory(category)">Edit</button>
            <button ng-click="deleteCategory(category.name)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Add/Edit Category</h2>
    <form ng-submit="saveCategory()">
      <label>
        Category Name:
        <input type="text" ng-model="newCategory.name" required>
      </label>
      <label>
        Initial Book Count:
        <input type="number" ng-model="newCategory.count" required>
      </label>
      <button type="submit">{{ selectedCategory ? 'Save Changes' : 'Add Category' }}</button>
    </form>
    <p ng-if="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </div>

  <script>
    angular.module('libraryApp', [])
      .controller('LibraryController', ['$scope', function($scope) {
        $scope.library = [
          { name: 'Fiction', count: 120 },
          { name: 'Non-Fiction', count: 80 },
          { name: 'Science', count: 150 },
          { name: 'Mathematics', count: 70 }
        ];

        $scope.newCategory = {};
        $scope.errorMessage = '';
        $scope.selectedCategory = null;

        $scope.addCategory = function() {
          const exists = $scope.library.some(item => item.name.toLowerCase() === $scope.newCategory.name.toLowerCase());
          if (exists) {
            $scope.errorMessage = 'Category name must be unique!';
          } else {
            $scope.library.push({ name: $scope.newCategory.name, count: $scope.newCategory.count });
            $scope.newCategory = {};
            $scope.errorMessage = '';
          }
        };

        $scope.editCategory = function(category) {
          $scope.selectedCategory = category;
          $scope.newCategory.name = category.name;
          $scope.newCategory.count = category.count;
        };

        $scope.saveCategory = function() {
          if ($scope.selectedCategory) {
            $scope.selectedCategory.name = $scope.newCategory.name;
            $scope.selectedCategory.count = $scope.newCategory.count;
            $scope.selectedCategory = null; 
          } else {
            $scope.addCategory();
          }
        };

        $scope.deleteCategory = function(categoryName) {
          $scope.library = $scope.library.filter(category => category.name !== categoryName);
        };
      }]);
  </script>
</body>
</html>